.menuBar{
    /* padding: 1rem; */
    background: #666ce3;
    width: 100%;
    margin-bottom: 1rem;
}
.tabs li{
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    color: #efefef;
    padding: 1rem;
}
.tabs li.is-active{
    background-color: #0008fc;
    height: 100%;
}